<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigbay.stepcounter"
    android:versionCode="4"
    android:versionName="3.1">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_jdjk"
        android:label="交大健康"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".StepCounterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetPlanAcitivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity android:name=".WebViewActivity" />

        <service
            android:name=".service.StepService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>